:root{
--i1:#842D72;
--i2:#EE316B;
--i3:#F9F7F1;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#222;
    font-family: Arial, Helvetica, sans-serif;
}
.container .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background:#F9F7F1;
    padding:60px 30px;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    overflow:hidden;
}
.container .box .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap:20px;
    width: 100%;
    height: 100%;



}
.container .box::before{
    content:"";
    position: absolute;
    border-top:4px solid black;
    inset: -10px 50px;
}

.container .box .content .icon{
    color:var(--clr);
    width: 80px;
    height: 80px;
    font-size:60px;
    box-shadow: 0 0 0 4px #842D72,
    0 0 0 6px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container .box:hover .content .icon{
    background:#EE316B;
    color:#F9F7F1;
    box-shadow: 0 0 0 4px #F9F7F1,
    0 0 0 300px var(--clr);
}
.container .box .content .text h2{
    font-size:40px;
    font-weight: 800;
    letter-spacing:2px;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content .text h2{
    color:#F9F7F1;
}
.container .box .content .text p{
color:#000;
transition: 0.5s ease-in-out;
}
.container .box:hover .content .text p{
    color:#F9F7F1;
}
.container .box .content .text a{
position:relative;
background:#EE316B;
outline:none;
text-decoration:none;
color:#222;
padding:10px 20px;
font-weight: 600;
display: inline-block;
margin-top:40px;
cursor:pointer;
transition: 0.5s ease-in-out;
border-radius: 25px;


}
.container .box:hover .content .text a{
    color:#EE316B;
    background:#F9F7F1;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5)
}
